
 .main {
    display: flex;
    justify-content: space-between;
    
 }
 h3 {
    margin: 20px;
 }

.main .icon {
    height: 20px;
}
.main .icon {
    margin-left: 10px;
}
.main a {
    text-decoration-line: none;
    color: rgb(19, 4, 4);
    
    padding: 10px;
}
