*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
   border: 5px solid yellow;
}


.main div {
    height: 600px;
    width: 2000px;

      display: flex;
      flex-flow: row wrap;
      justify-content: left;
}

 .main .co1 {
   height: 150px;
   width: 250px;
   background-color: rgb(185, 182, 182);
}

.col2 div {
   display: flex; 
  flex-direction: row;
  justify-content: flex-start;
  background-color: aqua;
  height: 150px;
  width: 250px;

}

.col2 .sub3 {
  display: inline-block;

}